@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorForum.Models
@using Microsoft.AspNetCore.Components

<PageTitle>André Forum</PageTitle>

<link href="css/MainLayout.css" rel="stylesheet" />
<link href="css/NavMenu.css" rel="stylesheet" />

<div class="main-layout">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="content" <main>
            @Body
        </main>

        <footer>
            <p>© André ForumApp 2025.</p>
            <a href="https://github.com/Andreeenit/BlazorForumApp" target="_blank">Visit our GitHub</a>
        </footer>
    </div>
</div>
@code {
    private bool isAuthenticated = false;

    [Inject] private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = null!;
    [Inject] private NavigationManager Navigation { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
    }

    private void HandleLogout()
    {
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
