@page "/"
@inject IForumServices ForumServices
@inject NavigationManager Navigation
@using BlazorForum.Models
@using BlazorForum.Service
@layout MainLayout

<h3>Forum Categories</h3>

@if (categories == null)
{
    <p>Loading categories...</p>
}
else
{
    <ul>
    @foreach (var category in categories)
        {
            <li>
                <button @onclick="() => ShowThreads(category.CategoryId)">
                    @category.CategoryName
                </button>
            </li>
        }
    </ul>
}

@code {
    private List<Category> categories = new List<Category>();


    private void ShowThreads(int categoryId)
    {
        Navigation.NavigateTo($"/category/{categoryId}");
    }
}
