@page "/"
@namespace BlazorForum

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>BlazorForum</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
</head>

<body>
    <app>Loading...</app>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
