@page "/register"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Register</h3>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="registerModel.Email" class="form-control" />
    </div>

    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="registerModel.Password" class="form-control" />
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <InputText id="confirmPassword" @bind-Value="registerModel.ConfirmPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync("api/account/register", registerModel);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {


            Console.WriteLine("Registration failed");
        }
    }

    private class RegisterModel
    {
        public requiered string Email { get; set; }
        public requiered string Password { get; set; }
        public requiered string ConfirmPassword { get; set; }
    }
}